<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Timer API Documentation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1>Timer API</h1>

<div class="section">
    <h2>GET /timer{{ timer_id }}/api</h2>
    <p>Получает текущее состояние таймера. <span class="important">Этот запрос не меняет состояние таймера.</span></p>
    <h3>URL:</h3>
    <pre><code>http://192.164.64.41/timer{{ timer_id }}/api</code></pre>
    <h3>Response:</h3>
    <pre><code>{
    "time": "MM:SS" // Текущее время в формате MM:SS
}
        </code></pre>
</div>

<div class="section">
    <h2>POST /timer{{ timer_id }}/api</h2>
    <p>Управляет таймером. <span
            class="important"> Команды add и subtract работают только если таймер остановлен.</span></p>
    <h3>URL:</h3>
    <pre><code>http://192.164.64.41/timer{{ timer_id }}/api</code></pre>

    <h3>Body (JSON):</h3>
    <pre><code>{
    "action": "start|pause|reset|reverse|add|subtract",
    "minutes": number, // Только для action=reset
    "seconds": number, // Только для action=reset
    "value": number // Только для action=add или subtract (в секундах)
}
    </code></pre>

    <h3>Действия (<code>action</code>):</h3>
    <div class="parameter">
        <ul>
            <li><code>start</code>: Запуск таймера.</li>
            <li><code>pause</code>: Пауза таймера.</li>
            <li><code>reset</code>: Сброс таймера. Используйте параметры <code>minutes</code> и <code>seconds</code> в
                теле
                запроса.
            </li>
            <li><code>reverse</code>: Реверс таймера.</li>
            <li><code>add</code>: Добавить к таймеру указанное количество секунд (параметр <code>value</code>).</li>
            <li><code>subtract</code>: Вычесть из таймера указанное количество секунд (параметр <code>value</code>).
            </li>
        </ul>
    </div>

    <h3>Примеры:</h3>
    <div class="endpoint">
        <h3>Запуск таймера</h3>
        <pre><code>URL: http://192.164.64.41/timer{{ timer_id }}/api
Body: {"action": "start"}
        </code></pre>
    </div>
    <div class="endpoint">
        <h3>Остановка таймера</h3>
        <pre><code>URL: http://192.164.64.41/timer{{ timer_id }}/api
Body: {"action": "pause"}
        </code></pre>
    </div>
    <div class="endpoint">
        <h3>Сброс таймера на 5 минут 30 секунд</h3>
        <pre><code>URL: http://192.164.64.41/timer{{ timer_id }}/api
Body: {"action": "reset", "minutes": 5, "seconds": 30}
        </code></pre>
    </div>
    <div class="endpoint">
        <h3>Добавить 15 секунд</h3>
        <pre><code>URL: http://192.164.64.41/timer{{ timer_id }}/api
Body: {"action": "add", "value": 15}
        </code></pre>
    </div>
    <div class="endpoint">
        <h3>Вычесть минуту</h3>
        <pre><code>URL: http://192.164.64.41/timer{{ timer_id }}/api
Body: {"action": "subtract", "value": 60}
        </code></pre>
    </div>
</div>
</body>
</html>