body {
    background: #202020;
    color: #f3f3f3;
    font-size: 16px;
    font-family: Arial, sans-serif;
    line-height: 19px;
    padding: 10px;
}

input {
    width: 60px;
    background-color: #222;
    font-size: 14px;
    border: 1px solid #4a4a4a;
    color: #f3f3f3;
    padding: 10px;
}

button {
    width: 82px;
    height: 40px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    border-radius: 2px;
    border: none;
    background: linear-gradient(to bottom, #636363, #3E3E3E);
    color: #fff;
    cursor: pointer;
    outline: none;
    display: inline-block;
}

button:hover {
    background: linear-gradient(to bottom, #3E3E3E, #636363);
}

button:active {
    transform: translateY(2px);
}

#timer {
    font-size: 28px;
    padding-top: 20px;
}

a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

a:hover {
    color: #a52424;
}