<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timer</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<span id="clock">00:00</span><br><br>

<button id="startButton" class="action">START</button>
<button id="pauseButton" class="action">PAUSE</button>
<label class="custom-checkbox checkbox-button">
    <input type="checkbox" id="reverseCheckbox" class="custom-checkbox-input"/>
    <span class="custom-checkbox-label">REV</span>
</label><br><br>

<button id="add30sButton" class="action">+30s</button>
<button id="subtract30sButton" class="action">-30s</button>
<br>
<button id="add1mButton" class="action">+1m</button>
<button id="subtract1mButton" class="action">-1m</button>
<br>
<button id="add5mButton" class="action">+5m</button>
<button id="subtract5mButton" class="action">-5m</button>
<br><br>

<input type="number" id="minutesBox" class="time-input" value="0" min="0">
<input type="number" id="secondsBox" class="time-input" value="0" min="0" max="59">
<button id="resetButton" class="action">SET</button>

<script src="../static/script.js"></script>
</body>
</html>
